language: php
php:
  - '5.3'
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - nightly

before_script:
  - curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
  - wget https://github.com/Icinga/icingaweb2/archive/v2.4.0.tar.gz
  - tar xfz v2.4.0.tar.gz
  - ln -s icingaweb2-2.4.0/library/Icinga
  - ln -s icingaweb2-2.4.0/library/vendor/Zend

script:
  - php phpcs.phar --report-width=auto --report-full --report-gitblame --report-summary -p --standard=PSR2 --extensions=php --encoding=utf-8 -w -s library/Businessprocess/ application/ configuration.php run.php test
  - phpunit --testdox || phpunit --verbose
